body {
    margin: 0;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}


.first-part {
    background-color: #1f2937;
    height: 500px;  
}

.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
.header-logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
    margin-left: 150px;
}
.right-links ul {
    display: flex;
    margin-right: 150px;
    flex-direction: row;
    gap: 20px;
    
}

.right-links li {
     list-style: none;
     
  
}
.right-links a {
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}


.hero{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 150px;
    
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.sub-hero {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    border-radius: 4px;
    width: 80px;
    height: 20px;
}

.hero-img {
    display: flex;
}

.image {
    
    margin-left: 120px;
    margin-top: 60px;
    border: 2px solid black;
    width: 500px;
    height: 220px;
    background-color: lightgrey;
}
.second-head{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 50px auto;

}
.box{
    display: flex;
    justify-content:center;
    gap:50px
}
.box div {
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    border: 4px solid cornflowerblue;
    border-radius: 15px;
    
   



}
.second-text {
    display: flex;
    justify-content:center;
    gap:40px;
    text-align: center;
    font-size: 18px;
    color: lightslategray;
    margin-top: 8px;
    margin-bottom: 100px;
    
}